body {
    background: black;
}

.rocker {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    text-align: center;
    width: 8em;
    height: 2em;
    border: 0.5em solid white;
}

.left, .right {
    position: relative;
    display: flex;
    /** This puts the text in the center of the button **/
    justify-content: center;
    align-items: center;
    /****/
    left: 1em;
    width: 3em;
    height: 2em;
    background: grey;
}

.left::before {
    content: " ";
    position: absolute;
    left: -1em;
    width: 1em;
    height: 2em;
    background: rgb(78, 78, 78);
}

.right::after {
    content: " ";
    position: absolute;
    right: -1em;
    width: 1em;
    height: 2em;
    background: rgb(78, 78, 78);
}
