body {
  background: black;
  font-family: Arial, Helvetica, sans-serif; }

.cosmetic {
  pointer-events: none; }

.full-screen {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0; }

#switch {
  display: none; }

.switch-label {
  background-color: red;
  width: 3rem;
  height: 2rem;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 1rem; }
  .switch-label::before {
    content: '';
    transition: .2s;
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px black; }

#switch:checked ~ .switch-label {
  background-color: green; }

#switch:checked ~ .switch-label:before {
  transform: translateX(1rem); }

.container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.crt-overlay {
  z-index: 1000;
  opacity: 0; }
  .crt-overlay::after {
    content: "";
    position: inherit;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    pointer-events: inherit;
    background: rgba(80, 80, 80, 0.1);
    opacity: 0;
    animation: flicker 0.15s infinite; }
  .crt-overlay::before {
    content: "";
    position: inherit;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    pointer-events: inherit;
    background: linear-gradient(rgba(80, 80, 80, 0) 50%, rgba(55, 55, 55, 0.4) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 128, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%; }

#switch:checked ~ screen > .crt-overlay {
  opacity: 1; }

.title {
  color: white;
  position: relative;
  font-size: 10rem;
  text-shadow: 4px 3px 3px red, 1px -4px 3px blue, -4px 0px 3px green; }

#switch:checked ~ .container > .title {
  animation: chromaticMove 4s ease infinite, glitchSkew 5s 5s infinite, glitchMove 7s infinite, glitchCrop 11s infinite; }

p {
  color: white;
  opacity: 0.3;
  font-size: 1.5rem;
  font-style: italic; }

.crt-animation {
  background: white;
  opacity: 0; }

#switch:checked ~ screen > .crt-animation {
  animation: turn-on-screen 4s linear;
  animation-fill-mode: forwards; }

#switch ~ screen > .crt-animation {
  animation: turn-off 200ms linear;
  animation-fill-mode: forwards; }

@keyframes chromaticMove {
  0% {
    text-shadow: 4px 3px 3px red, 0px -4px 3px blue, 0px 0px -3px green; }
  50% {
    text-shadow: 3px 3px 1px red, 0px -4px 3px blue, -4px 3px 4px green; }
  75% {
    text-shadow: -2px 1px 0px red, 0px 4px 3px blue, 3px -2px 3px green; }
  100% {
    text-shadow: 4px 3px 3px red, 1px -4px 3px blue, -4px 0px 3px green; } }

@keyframes glitchSkew {
  1% {
    transform: rotateX(10deg) skewX(90deg); }
  2% {
    transform: rotateX(0deg) skewX(0deg); } }

@keyframes glitchMove {
  35% {
    top: 0;
    left: 0; }
  35.1% {
    top: -2rem;
    left: -10rem; }
  35.5% {
    top: 5rem;
    left: 10rem; }
  36% {
    top: 0;
    left: 0; } }

@keyframes glitchCrop {
  13% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  13.5% {
    clip-path: polygon(0 0, 0 44%, 100% 9%); }
  14% {
    clip-path: polygon(0 47%, 0 68%, 100% 68%); }
  14.5% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

@keyframes flicker {
  0% {
    opacity: 0.50857; }
  5% {
    opacity: 0.61358; }
  10% {
    opacity: 0.06905; }
  15% {
    opacity: 0.87957; }
  20% {
    opacity: 0.07524; }
  25% {
    opacity: 0.01902; }
  30% {
    opacity: 0.32684; }
  35% {
    opacity: 0.63347; }
  40% {
    opacity: 0.50023; }
  45% {
    opacity: 0.36019; }
  50% {
    opacity: 0.89796; }
  55% {
    opacity: 0.49248; }
  60% {
    opacity: 0.39805; }
  65% {
    opacity: 0.43961; }
  70% {
    opacity: 0.71012; }
  75% {
    opacity: 0.2128; }
  80% {
    opacity: 0.29745; }
  85% {
    opacity: 0.15548; }
  90% {
    opacity: 0.12708; }
  95% {
    opacity: 0.5282; }
  100% {
    opacity: 0.59517; } }

@keyframes turn-on-screen {
  0% {
    clip-path: polygon(0 20%, 100% 20%, 100% 80%, 0 80%);
    opacity: 1; }
  3.5% {
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%);
    opacity: 0; }
  3.6% {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
    opacity: 1; }
  3.7% {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    opacity: 0.5; }
  9% {
    opacity: 0; }
  11% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 0.2; }
  50% {
    opacity: 0; } }

@keyframes turn-on-content {
  0% {
    opacity: 0; }
  11% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes turn-off {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 0.3; }
  60% {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    opacity: 0.5; }
  80% {
    clip-path: polygon(0 48%, 100% 48%, 100% 52%, 0 52%);
    opacity: 1; }
  99.9% {
    clip-path: polygon(0 50%, 100% 50%, 100% 50.5%, 0 50.5%); }
  100% {
    opacity: 0; } }
