body {
  background: black;
  font-family: Arial, Helvetica, sans-serif; }

#switch {
  display: none; }

.switch-label {
  background-color: red;
  width: 3rem;
  height: 2rem;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .switch-label::before {
    content: '';
    transition: .2s;
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px black; }

#switch:checked ~ .switch-label {
  background-color: green; }

#switch:checked ~ .switch-label:before {
  transform: translateX(1rem); }

.container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; }

.overlay {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0; }
  .overlay::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: rgba(128, 128, 128, 0.1);
    opacity: 0;
    animation: flicker 0.15s infinite; }
  .overlay::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(rgba(128, 128, 128, 0) 50%, rgba(103, 103, 103, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 128, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%; }

#switch:checked ~ .overlay {
  opacity: 1; }

.title {
  color: white;
  position: relative;
  font-size: 9rem;
  text-shadow: 4px 3px 3px red, 1px -4px 3px blue, -4px 0px 3px green; }

#switch:checked ~ .container > .title {
  animation: chromaticMove 4s ease infinite, glitch 5s 5s infinite, glitch2 7s infinite; }

.screen {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  animation: turn-on 4s linear;
  animation-fill-mode: forwards; }

#switch:checked ~ .screen {
  animation: turn-on 4s linear;
  animation-fill-mode: forwards; }

@keyframes chromaticMove {
  0% {
    text-shadow: 4px 3px 3px red, 0px -4px 3px blue, 0px 0px -3px green; }
  50% {
    text-shadow: 3px 3px 1px red, 0px -4px 3px blue, -4px 3px 4px green; }
  75% {
    text-shadow: -2px 1px 0px red, 0px 4px 3px blue, 3px -2px 3px green; }
  100% {
    text-shadow: 4px 3px 3px red, 1px -4px 3px blue, -4px 0px 3px green; } }

@keyframes flicker {
  0% {
    opacity: 0.3174; }
  5% {
    opacity: 0.79142; }
  10% {
    opacity: 0.00969; }
  15% {
    opacity: 0.56478; }
  20% {
    opacity: 0.20459; }
  25% {
    opacity: 0.35661; }
  30% {
    opacity: 0.29281; }
  35% {
    opacity: 0.67538; }
  40% {
    opacity: 0.04062; }
  45% {
    opacity: 0.99909; }
  50% {
    opacity: 0.14653; }
  55% {
    opacity: 0.88364; }
  60% {
    opacity: 0.11836; }
  65% {
    opacity: 0.71873; }
  70% {
    opacity: 0.24887; }
  75% {
    opacity: 0.44611; }
  80% {
    opacity: 0.78907; }
  85% {
    opacity: 0.42637; }
  90% {
    opacity: 0.60618; }
  95% {
    opacity: 0.53953; }
  100% {
    opacity: 0.49662; } }

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg); }
  2% {
    transform: rotateX(0deg) skewX(0deg); } }

@keyframes glitch2 {
  35% {
    top: 0;
    left: 0; }
  35.1% {
    top: -2rem;
    left: -10rem; }
  35.5% {
    top: 5rem;
    left: 10rem; }
  36% {
    top: 0;
    left: 0; } }

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1; }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0); }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1; }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0; }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0; }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1; } }
