body {
  background: black;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.title {
  color: white;
  font-size: 9rem;
  animation: glitch 5s 5s infinite; }

.title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: -0.5rem 0 magenta;
  animation: glitch 5s 5.05s infinite, noise-before 5s linear alternate-reverse infinite; }

.title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0.5rem 0 cyan;
  animation: glitch 5s 5s infinite, noise-after 5s linear alternate-reverse infinite; }

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg); }
  2% {
    transform: rotateX(0deg) skewX(0deg); } }

@keyframes noise-before {
  3.33333% {
    clip-path: inset(7rem 0 5rem 0); }
  6.66667% {
    clip-path: inset(17rem 0 2rem 0); }
  10% {
    clip-path: inset(2rem 0 1rem 0); }
  13.33333% {
    clip-path: inset(13rem 0 4rem 0); }
  16.66667% {
    clip-path: inset(15rem 0 6rem 0); }
  20% {
    clip-path: inset(18rem 0 2rem 0); }
  23.33333% {
    clip-path: inset(17rem 0 4rem 0); }
  26.66667% {
    clip-path: inset(10rem 0 11rem 0); }
  30% {
    clip-path: inset(15rem 0 2rem 0); }
  33.33333% {
    clip-path: inset(11rem 0 7rem 0); }
  36.66667% {
    clip-path: inset(2rem 0 2rem 0); }
  40% {
    clip-path: inset(19rem 0 1rem 0); }
  43.33333% {
    clip-path: inset(20rem 0 1rem 0); }
  46.66667% {
    clip-path: inset(17rem 0 3rem 0); }
  50% {
    clip-path: inset(5rem 0 8rem 0); }
  53.33333% {
    clip-path: inset(2rem 0 1rem 0); }
  56.66667% {
    clip-path: inset(18rem 0 3rem 0); }
  60% {
    clip-path: inset(13rem 0 5rem 0); }
  63.33333% {
    clip-path: inset(17rem 0 4rem 0); }
  66.66667% {
    clip-path: inset(19rem 0 2rem 0); }
  70% {
    clip-path: inset(18rem 0 2rem 0); }
  73.33333% {
    clip-path: inset(11rem 0 5rem 0); }
  76.66667% {
    clip-path: inset(5rem 0 4rem 0); }
  80% {
    clip-path: inset(6rem 0 5rem 0); }
  83.33333% {
    clip-path: inset(19rem 0 2rem 0); }
  86.66667% {
    clip-path: inset(12rem 0 9rem 0); }
  90% {
    clip-path: inset(12rem 0 5rem 0); }
  93.33333% {
    clip-path: inset(11rem 0 10rem 0); }
  96.66667% {
    clip-path: inset(7rem 0 4rem 0); }
  100% {
    clip-path: inset(20rem 0 1rem 0); } }

@keyframes noise-after {
  0% {
    clip-path: inset(10rem 0 3rem 0); }
  3.33333% {
    clip-path: inset(20rem 0 1rem 0); }
  6.66667% {
    clip-path: inset(8rem 0 2rem 0); }
  10% {
    clip-path: inset(10rem 0 4rem 0); }
  13.33333% {
    clip-path: inset(17rem 0 4rem 0); }
  16.66667% {
    clip-path: inset(4rem 0 10rem 0); }
  20% {
    clip-path: inset(12rem 0 8rem 0); }
  23.33333% {
    clip-path: inset(9rem 0 1rem 0); }
  26.66667% {
    clip-path: inset(4rem 0 8rem 0); }
  30% {
    clip-path: inset(20rem 0 1rem 0); }
  33.33333% {
    clip-path: inset(5rem 0 15rem 0); }
  36.66667% {
    clip-path: inset(4rem 0 13rem 0); }
  40% {
    clip-path: inset(15rem 0 2rem 0); }
  43.33333% {
    clip-path: inset(9rem 0 4rem 0); }
  46.66667% {
    clip-path: inset(2rem 0 6rem 0); }
  50% {
    clip-path: inset(5rem 0 8rem 0); }
  53.33333% {
    clip-path: inset(11rem 0 2rem 0); }
  56.66667% {
    clip-path: inset(10rem 0 2rem 0); }
  60% {
    clip-path: inset(17rem 0 1rem 0); }
  63.33333% {
    clip-path: inset(10rem 0 2rem 0); }
  66.66667% {
    clip-path: inset(14rem 0 2rem 0); }
  70% {
    clip-path: inset(13rem 0 4rem 0); }
  73.33333% {
    clip-path: inset(12rem 0 8rem 0); }
  76.66667% {
    clip-path: inset(17rem 0 1rem 0); }
  80% {
    clip-path: inset(7rem 0 6rem 0); }
  83.33333% {
    clip-path: inset(9rem 0 9rem 0); }
  86.66667% {
    clip-path: inset(20rem 0 1rem 0); }
  90% {
    clip-path: inset(11rem 0 5rem 0); }
  93.33333% {
    clip-path: inset(15rem 0 5rem 0); }
  96.66667% {
    clip-path: inset(18rem 0 3rem 0); }
  100% {
    clip-path: inset(17rem 0 4rem 0); } }
